.Wallet:after {
    content: "";
    display: block;
    clear: both;
}
.Step{
    background-color: blueviolet;
    float: left;
    height: 100vh;
    width: 40vw;
    color:white;
    text-align: center;
    padding-top: 25vh;
}
.Contents{
    padding-left: 15vh;
    content:"";
    float: left;
    width: 50vw;
}
.contentsName{
    padding-top: 10vh;
    height: 20vh;
}
.contents{
    margin-top: auto;
    margin-top: auto;
    height: 40vh;
}
.stepButton{
    height: 10vh;
    margin-top: 10vh;
}
.w-title{
    font-size: 3vw;
    font-weight: bold;
    padding-bottom: 5vh;
}
.w-title2{
    font-weight: bold;
    padding-bottom: 3vh;
    font-size: 2vw;
}
.w-txt{
    font-size: 1.5vw;
    padding-top: 7vh;
}
.w-txt2{
    font-size: 1vw;
}
.w-txt3{
    font-size: 1vw;
    font-weight: bold;
    padding-left: 1vh;
    padding-bottom: 1vh;
}
.line{
    height: 0.3vh;
    width: 60%;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#w-input{
    height: 3vh;
    width: 35vw;
}
#w-btn{
    margin-left: 1vh;
    margin-top: 0.5vh;
    margin-bottom: 2.5vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color:  rgb(200, 150, 255);
    color: black;
    width: 5vw;
    height: 5vh; 
    font-weight: bold;
}
#bigbtn{
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    background-color: black;
    color: white;
    width: 40vw;
    height: 7vh; 
    font-weight: bold;

}
.conlayout{
    display: block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}
.layout{
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 3vw;
}
.layout2{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 3vw;
}
.layout3{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3vw;
}
#subbtn{
    color: black;
    background-color: blueviolet;
    display: block;
    margin-left: 35vh;
    width: 7vw;
    height: 5vh; 
    font-weight: bold;
}
#subbtn2{
    color: black;
    background-color: rgb(222, 222, 222);
    display: inline-block;
    margin-left: 10vh;
    width: 10vw;
    height: 5vh; 
    font-weight: bold;
}
#subbtn3{
    color: black;
    background-color: rgb(200, 150, 255);
    display: inline-block;
    margin-right: 10vh;
    width: 10vw;
    height: 5vh; 
    font-weight: bold;
}