

body{
  background-color: #202122;
  background-image: url(./img/보라배경.svg);
  /* Set rules to fill background */ 
   min-width: 1024px; 
   min-height: 650px;
   /* Set up proportionate scaling */ 
   background-size: cover;
   height: auto;

  background-repeat: no-repeat;
  display: flex;
  color: white;
}

.App{
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
}

.info{
  padding-left: 2vw;
  padding-top: 0;
  font-size: 3vh;
  text-align: left;
}


.info2{
  font-size: 6vh;
}



.table{
  display: inline-block;
  padding-left: 5vw;
}

#font{
  font-size: 2vw;
  margin: 0;
}

.button{
  padding-top: 20vh;
  padding-left: 15vw;
  padding-right: 4vw;
}

td{
  padding:1.3vw;
}

/* 
.App-logo {
  
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
